.header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 50;
   border-bottom: 1px solid $colorDark-Bright-Gray;

   &.active {
      background-color: $colorDark-Gray;
   }

   // .header__container

   &__container {
   }

   // .header__inner

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.active {
         .header__burger {
            span {
               transform: scale(0);
            }

            &::after {
               transform: rotate(-45deg) translateY(-50%);
               top: 50%;
            }

            &::before {
               transform: rotate(45deg) translateY(-50%);
               bottom: 50%;
            }
         }
         .header__nav {
            left: 15px;
         }
         .header__overflow {
            opacity: 1;
            visibility: visible;
         }
      }
   }

   // .header__logo

   &__logo {
      display: flex;
      align-items: center;
      height: auto;
      align-self: stretch;
      position: relative;
      z-index: 3;

      @media (min-width: $pc) {
         padding-right: calc(var(--index) * 0.5);
         flex: 0 0 6%;
      }

      @media (max-width: $pc) {
         padding-right: 15px;
         flex: 0 0 68px;
      }

      @media (max-width: $tablet) {
         padding: 15px 0;
      }
   }

   // .header__burger

   &__burger {
      display: none;

      @media (max-width: $tablet) {
         display: block;
         width: 30px;
         height: 20px;
         position: relative;
         background-color: transparent;
         z-index: 3;
         margin-left: auto;
         margin-right: calc(15px + (20 - 15) * ((100vw - 320px) / (767.98 - 320)));

         span,
         &::after,
         &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $colorDark-Bright-Gray;
            transition: all 0.2s ease;
         }

         span {
            top: 50%;
            transform: translateY(-50%);
         }

         &::after {
            top: 0;
         }

         &::before {
            bottom: 0;
         }
      }
   }

   // .header__nav

   &__nav {
      display: flex;
      justify-content: center;
      height: auto;
      align-self: stretch;

      @media (min-width: $pc) {
         padding: calc(var(--index) * 1.8) calc(var(--index) * 1) calc(var(--index) * 1.8) 0;
      }

      @media (max-width: $pc) {
         padding: calc(15px + (31 - 15) * ((100vw - 320px) / (950 - 320))) 15px
            calc(15px + (31 - 15) * ((100vw - 320px) / (950 - 320))) 0;
         flex: 0 0 calc(60% + (70 - 60) * ((100vw - 767.98px) / (1320 - 767.98)));
      }

      @media (max-width: $tablet) {
         position: absolute;
         top: 100%;
         left: -100%;
         width: 50%;
         height: 150px;
         padding: 10px 0;
         background-color: $colorDark-Bright-Gray;
         z-index: 2;
         overflow-y: auto;
         transition: all 0.2s ease;
      }
   }

   // .header__overflow

   &__overflow {
      display: none;

      @media (max-width: $tablet) {
         display: block;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5);
         z-index: 1;
         opacity: 0;
         visibility: hidden;
         transition: all 0.2s ease;
      }
   }

   // .header__box

   &__box {
      // flex: 0 0 33.333%;
      display: flex;
      height: auto;
      align-self: stretch;
      justify-content: flex-end;
      // flex: 0 0 18.93%;
   }
}
.logo-header {
   // .logo-header__box

   &__box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   // .logo-header__link

   &__link {
      display: inline-block;
      position: relative;
      width: 100%;
      padding-bottom: 69%;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
}
.nav-header {
   // .nav-header__list

   &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 50px;
      row-gap: 10px;

      @media (max-width: $tablet) {
         flex-direction: column;
         position: absolute;
         top: 0;
         left: 0;
         padding: 15px 0;
      }
   }

   // .nav-header__item

   &__item {
   }

   // .nav-header__link

   &__link {
      color: $colorWhite;

      @media (min-width: $pc) {
         font-size: calc(var(--index) * 0.62);
      }

      @media (max-width: $pc) {
         font-size: 14px;
      }

      @media (max-width: $tablet) {
         padding: 0 10px;
      }

      &.item-active {
         color: $colorYellow;
      }
   }
}
.box-header {
   // .box-header__block

   &__block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-left: 1px solid $colorDark-Bright-Gray;
   }
   // .box-header__search

   &__search {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $colorDark-Bright-Gray;
      height: 100%;

      @media (min-width: $pc) {
         padding: 0 calc(var(--index) * 3.05);
      }

      @media (max-width: $pc) {
         padding: 0 calc(15px + (70 - 15) * ((100vw - 320px) / (1320 - 320)));
      }
   }

   // .box-header__box

   &__box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: $pc) {
         width: calc(var(--index) * 0.88);
         height: calc(var(--index) * 0.88);
      }

      @media (max-width: $pc) {
         width: 18px;
         height: 18px;
      }

      &.active-search {
         .box-header__icon {
            opacity: 0;
            visibility: hidden;
            height: 0;
            width: 0;
            transition: all 0s linear;
         }

         .box-header__form {
            width: calc(var(--index) * 14);
            opacity: 1;
            visibility: visible;
         }
      }
   }

   // .box-header__icon

   &__icon {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .box-header__form

   &__form {
      min-height: calc(var(--index) * 1.8);
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      transition: all 0.2s linear;
      opacity: 0;
      visibility: hidden;
      z-index: 3;
   }

   // .box-header__cart

   &__cart {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
      height: 100%;

      @media (min-width: $pc) {
         padding-left: calc(var(--index) * 2.7);
      }

      @media (max-width: $pc) {
         padding-left: calc(15px + (62 - 15) * ((100vw - 320px) / (1320 - 320)));
      }

      a {
         position: relative;
         z-index: 3;

         @media (min-width: $pc) {
            width: calc(var(--index) * 0.88);
            height: calc(var(--index) * 0.88);
         }

         @media (max-width: $pc) {
            width: 20px;
            height: 20px;
         }

         span {
            position: absolute;
            top: -6px;
            right: -10px;
            width: 16px;
            height: 16px;
            background-color: $colorYellow;
            border-radius: 50%;
            padding: 2px 3px 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $colorBlack;
            font-size: 10px;
            font-weight: 700;
         }

         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}
.form-header {
   // .form-header__block

   &__block {
      width: 100%;
      min-height: calc(var(--index) * 1.8);
      display: flex;
   }

   // .form-header__input

   &__input {
      width: 100%;
      height: auto;
      border: 1px solid $colorDark-Bright-Gray;
      border-radius: 10px;
      background-color: $colorDark-Gray;
      color: $colorYellow;

      @media (min-width: $pc) {
         font-size: calc(var(--index) * 0.5);
         padding: 0 calc(var(--index) * 3.45) 0 calc(var(--index) * 0.47);
      }

      @media (max-width: $pc) {
         font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1320 - 320)));
         padding: 0 calc(30px + (75 - 30) * ((100vw - 320px) / (1320 - 320))) 0 10px;
      }
   }

   // .form-header__reset

   &__reset {
      position: absolute;
      top: 50%;
      right: 16%;
      transform: translateY(-50%);
      background-color: transparent;

      @media (min-width: $pc) {
         width: calc(var(--index) * 0.44);
         height: calc(var(--index) * 0.44);
      }

      @media (max-width: $pc) {
         width: calc(8px + (20 - 8) * ((100vw - 320px) / (1320 - 320)));
         height: calc(8px + (20 - 8) * ((100vw - 320px) / (1320 - 320)));
      }

      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
         width: 100%;
         height: 1px;
         background-color: #f60c0c;
         transform: rotate(45deg);
      }

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
         width: 100%;
         height: 1px;
         background-color: #f60c0c;
         transform: rotate(-45deg);
      }
   }

   // .form-header__button

   &__button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background-color: transparent;
      z-index: 2;
      width: calc(var(--index) * 0.88);
      height: calc(var(--index) * 0.88);

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
