@use "sass:math";

// mixin ==================================================================================================================================================================================================================================================================================================================================
@import "_mixin";

// fonts / iconmoon ==================================================================================================================================================================================================================================================================================================================================
@import "_fonts";

$fontFamily: "Inter", sans-serif;
$fontSize: calc(16 / 16) + rem;

// переменные ==================================================================================================================================================================================================================================================================================================================================
:root {
   --index: calc(1vw + 1vh);
}

// color ==================================================================================================================================================================================================================================================================================================================================
$colorDark-Gray: #202021;
$colorBlack: #000;
$colorWhite: #fff;
$colorBlue: #6b8fed;
$colorDark-Bright-Gray: #434343;
$colorGray: #8f8f8f;
$colorYellow: #f1fa91;
$colorLight-Gray: #e4e4e4;


// breakpoints ==================================================================================================================================================================================================================================================================================================================================
$pc: 1350px;
$laptop: 1000px;
$tablet: 767.98px;
$mobile: 424.98px;
// nullstyle ==================================================================================================================================================================================================================================================================================================================================
@import "_nullstyle";

// wrapper ==================================================================================================================================================================================================================================================================================================================================

body {
   &.lock {
      overflow: hidden;
   }
}
[class*="__container"] {
   margin: 0 auto;
   padding: 0 15px;
   
   width: 100%;
   
   @media (min-width: $pc) {
      max-width: 95vw;
   }

   @media (max-width: $pc) {
      max-width: 1350px;
   }
}
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   background-color: $colorDark-Gray;
   font-size: $fontSize;
   font-family: $fontFamily;
   line-height: 1.2;
   color: $colorWhite;
   
}
.header {

}
.main {
  flex: 1 1 auto
}
.footer {
 
}
// поключение основных файлов стилей ==================================================================================================================================================================================================================================================================================================================================

@import "_header";
@import "_main";
@import "_footer";

// подключение section
@import "_page";

// подключение дополнительных файлов стилей
// @import "_popup";

// wrapper ========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
